


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
:root {
    --darkblue: #00506a;
    --lightblue: #5ab7d4; 
    --red: #cf1306; 
    --lightred: #ff6d49;
    --bgcolor: #f4f0ec; 
}

* {
    box-sizing: border-box;
    padding: 0px;
}

.italic {
    font-style: italic;
}

body {
	padding: 1vw;
    font-family: 'Open Sans', serif; /* ändrar typsnitt på paragraftext*/
	font-weight: 400;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-color: var(--bgcolor); */
}

/* Header styling*/
.header {
    background-color: var(--darkblue);
    padding-top: 1.2rem;
    margin-bottom: 0px;
    color: var(--bgcolor);
    font-family: "Playfair", serif; /* ändrar typsnitt på titeln */
    text-align: center;
}

.header h2 {
    font-size: 0.9rem;
}

.header a {
    color: var(--bgcolor);
    text-decoration: none;
    font-size: 4rem; /* ändrar storlek på rubriken "Tummeliten 1895" */
}

.header a:hover {
    text-decoration: none;
    /* color: #a52d2a; */
}

h1, h2, h3 {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* text-align: center; */
    color: var(--darkblue); /*ändrar färgen på alla rubriker */
}



#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;    
}



#collection {
    display: flex;
}

.thumbnail {
    margin: 5px;
    border: 1px solid black;
    width: 100px;
}

.img-full {
    margin: 5px;
    border: 1px solid black;
    width: 500px;
}

/* navigation styling */ 
nav {
    margin-bottom: 1vw;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
    padding: 1.5vw;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-color: var(--darkblue); /*ändrar bakgrundsfärg på navigation */
}

.nav-item a, .nav-item a:hover {
    color: var(--bgcolor);
}


.nav-item{
  display: inline-block;
  position: relative;
}

.nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--bgcolor);
  transform-origin: bottom right;
  transition: transform 0.40s ease-in;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Index styling */
.container{
    padding: 3rem 0 3rem 0;
}

.text-container {
    padding: 2rem;
}

.image-container, img {
  width: 100%;
  height: auto;
  display: block;
}



/* Footer styling */
footer {
    background-color: var(--darkblue);
    color: var(--bgcolor); /* ändrar färg på textfärg i footer */
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logo {
	width: 1.2rem;
	margin:.20vw;
}

.copyright_link_container {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
}

/* författarsida styling */
.ref_container {
    border-top: 1px solid rgb(82, 80, 80);
    padding-top: 2rem;
}

.ref_container h4 {
    font-size: 1.2rem;
}

.author_img_container {
    width: 500px;
    /* max-width: 400px; */
    border: 20px solid var(--darkblue);
    /* align-self: flex-start; */
}

.author_img_container img {
    width: 100%;
    /* max-width: 400px; */
}

.author_text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author_list_container {
    padding-top: 3rem;
}

.author_list_container ul {
    padding-left: 0px; /* tar bort padding om vi inte vill ha li-elementet med punkter */
}

.author_list_container ul li {
    list-style-type: none;
    padding: 0.2rem;
}

#author_name {
    cursor: pointer;
    font-weight: bold;
    margin-left: 0;
    color: var(--darkblue);
    font-size: 1.1rem;
}

#author_name:hover {
    color: #01384a;
}

.open_author {
    /* color: red; */
}

.hide_text {
    display: none;
}

/* Förslag 1 */
/* .author_link {
  position: relative;
  font-weight: bold;
  color: var(--darkblue);
  text-decoration: none;
}

.author_link:hover {
  color: var(--darkblue);
}


.author_link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--darkblue);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.author_link:hover::before {
  transform: scaleX(1);
} */

/* Förslag 2 */

.author_link {
    text-decoration: none;
    color: var(--darkblue);
    font-weight: bold;
}

.author_link span {
    display: inline-block;
  transition: 0.1s ease-in;
}

.author_link:hover {
    color: #01384a;
}

.author_link:hover span {
    transform: translateX(50%);
}

/* om projektet styling */



/* Läsvy styling */
.zoom-img {
  width: 100%;
  transition: transform 0.9s ease;
}

.read_text_container {
    max-width: 700px; /* justera när riktiga bilderna på plats */
    margin: 0 auto;
}

.read_text_container h2 {
    text-align: start;
}

.carousel-container {
    max-width: 700px; /* justera när riktiga bilderna på plats */
    margin: 0 auto;
}

/* Media queries */
@media only screen and (max-width: 480px) {
  .image-box, img {
    max-width: 90%;
    margin: 0 auto;
  }

  .carousel-container {
    margin: 0 auto;
    width: 100%;
    }

    .about_project_container, .author_container, .reading_container, .footer_container {
        padding: 1rem;
    }

    .author_img_container {
        width: 350px;
        margin: 0 auto;
    }
    
    .author_img_container img {
        width: 100%;
        /* max-width: 400px; */
    }


}
